<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zdww.login">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application>
        <!--欢迎页-->
        <activity android:name="com.zdww.login.activity.SplashActivity"
            android:theme="@style/Theme.AppStartLoadTranslucent">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <!-- 登录页-->
        <activity android:name="com.zdww.login.activity.LoginActivity" ></activity>
        <!-- 找回密码功能-->
        <activity android:name="com.zdww.login.activity.UserRecoverPwdActivity" />
        <!-- 修改密码-->
        <activity android:name="com.zdww.login.activity.MenuModifyPwdActivity" />
    </application>

</manifest>