<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="qzl.com.mpandroidchart">
    <application>
        <!--图表首页-->
        <activity android:name=".activity.MainActivity"/>
        <!--饼图-->
        <activity android:name=".activity.PieActivity"/>
        <!--折线图-->
        <activity android:name=".activity.LineActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>
        <!--柱状图-->
        <activity android:name=".activity.BarManyActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>
</manifest>
