<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="qzl.com.main">
    <application>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.MvpActivity"/>
        <!--网络请求封装2-->
        <activity android:name=".activity.Net2Activity"/>
        <!--首页-->
        <activity android:name=".activity.HomeActivity"/>
    </application>
 </manifest>
